# Hugo default output directory
/public

# hugo cache directory
/resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# local properties
my_hugo*.properties
